body {
	font-family: Arial;
	font-size: 17px;
	background-color: #808080;
}

body h1 {
	text-align: center;
}

#introText {
	width: 60%;
	margin: 10px auto;
	border: 2px solid black;
	padding: 20px;
	border-radius: 20px;
	background-color: #D2691E;
}

#article {
	width: 60%;
	margin: 10px auto;
	border: 2px solid black;
	padding: 20px;
	border-radius: 20px;
	background-color: #D2691E;
}

h2, h1 {
	text-decoration: underline;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
	background-color: #D2691E;
}
a:visited {
	color: black;
}

#navDiv {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	text-shadow: 1px 1px 1px black;

}
.nav {
	font-size: 25px;
	text-decoration: none;
	border: 1px solid black;
	padding: 0 7px;
}

#addNews {
	text-align: center;
	padding-top: 100px;
}

form {
	font-size: 25px;
	font-weight: bold;
}

label {
	padding: 5px;
}

input, textarea {
	margin-top: 7px;
}